<div class="row">
  <div class="col-xs-12 text-center subtitle">
    <h2>Awarded Movies</h2>
  </div>
</div>
<div class="row award-movies">
  <div *ngFor="let movie of (movies$ | async) | slice:0:3" class="col-lg-4 award-movie">
    <img class="img-circle" src="/assets/images/oscar-award.png" alt="Generic placeholder image" width="140" height="140">
    <h2>{{ movie?.name }}</h2>
    <p>{{ movie?.description }}</p>
    <p><a class="btn btn-default" [routerLink]="['movies', movie?.slug]" role="button">View details &raquo;</a></p>
  </div>
</div>
