/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

@import "../../assets/styles/variables";

/* Carousel base class */
.carousel {
  height: $carouselHeight;
  margin-bottom: 60px;
  .item {
    z-index: 10;
    height: $carouselHeight;
    background-color: $grey7;
  }
  .carousel-control {
    z-index: 99;
    &.disabled {
      display: none;
    }
  }
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: $carouselHeight;
}
