@import "../../assets/styles/variables";

.thumbnail
{
  margin-bottom: 20px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  &:hover {
    background: $lightGrey;
    cursor: pointer;
  }
}

.item-text
{
  margin: 0 0 11px;
}
// list listing
.list-group-item
{
  float: none;
  width: 100%;
  background-color: $white;
  margin-bottom: 10px;
  .image {
    margin-right: 10px;
  }

  .item-text {
    margin: 20px 0;
  }
  .item-rating {
    margin-bottom: 20px;
  }
  .item-year {
    margin: 10px -15px;
  }
  .item-details {
    display: none;
  }
  img {
    float: left;
  }
  .thumbnail {
    margin-bottom: 0px;
  }
  .caption {
    padding: 9px 9px 0px 9px;
  }
  &:nth-of-type(odd) {
    background: #eeeeee;
  }
  &:before, &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
}
// grid listing
.grid-group-item {
  .thumbnail {
    height: 500px;
    overflow: hidden;
  }
  .item-rating {
    position: absolute;
    top: 5px;
  }
  .item-text {
    height: 80px;
    overflow: hidden;
  }
}

.load-more {
  margin-bottom: 40px;
}
