<div class="huge-poster" appSetBackground="default"></div>
<div class="container site-page">
  <h1>Movies list</h1>
  <div class="movie-list-container">
    <div class="well well-sm">
      <strong>Display</strong>
      <div class="btn-group">
        <a (click)="changeListView('list-group-item')" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-th-list"></span> List
        </a>
        <a (click)="changeListView('grid-group-item')" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-th"></span> Grid
        </a>
      </div>
      <strong>Filter by genre:</strong>
      <div class="btn-group">
        <select name="filters_genre" [(ngModel)]="filters.genre" (ngModelChange)="updateFilters()">
          <option value="">Choose</option>
          <option *ngFor="let genre of genreTypes">{{ genre }}</option>
        </select>
      </div>
      <div class="pull-right">
        <strong>{{(movies$ | async)?.length}}</strong>
        <span> movie(s) displayed</span>
      </div>
    </div>
    <div class="row list-group">

      <div *ngFor="let movie of (movies$ | async) | searchFilterPipe: filters: 'name'" class="item  col-xs-4 col-lg-4" [ngClass]="listClassType">
        <div class="thumbnail" (click)="viewMovieDetails(movie?.slug)">
          <img class="group image"
               src="/assets/images/movie-covers/{{ movie?.img }}"
               alt="{{ movie?.name }}" />
          <div class="caption">
            <div class="group inner item-rating">
              IMDB: <strong>{{ movie?.rate }}</strong>
            </div>
            <h4 class="group inner item-heading">
              {{ movie?.name }}
            </h4>

            <app-movie-genres [genres]="movie?.genres" [filters]="filters"></app-movie-genres>

            <p class="group inner item-text">
              {{ movie?.description }}
            </p>
            <div class="group inner item-length">
              Length: <i>{{ movie?.length }}</i>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6 item-year">
                <p class="lead">Year: {{ movie?.year }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <!--<div class="col-xs-12 text-center">-->
        <!--<a *ngIf="currentPage > 0 && (movies$ | async)?.length >= 12"-->
           <!--(click)="loadMore()"-->
           <!--class="btn btn-default load-more">Load more movies</a>-->
        <!--<a *ngIf="!currentPage" (click)="loadMore()" class="btn btn-danger load-more">No more movies to load</a>-->
      <!--</div>-->
    </div>
  </div>
</div>
