<div class="huge-poster" appSetBackground="default"></div>
<div class="container site-page">

  <div class="row">
    <div class="col-xs-12">
      <a (click)="goBack()">
        <span class="glyphicon glyphicon-menu-left"></span> Back
      </a>
    </div>
    <div class="col-xs-12 text-center movie-title">
      <h1>404 Page Not Found</h1>
    </div>
  </div>
</div>
