<!--<app-carousel [movies$]="movies$"></app-carousel>-->

<div class="container marketing">
  <app-loading *ngIf="loading$ | async"></app-loading>
  <app-error [error$]="error$"></app-error>
  <app-movies-awarded [movies$]="movies$"></app-movies-awarded>

  <app-movies-newest [movies$]="movies$"></app-movies-newest>

</div>
