<div class="huge-poster" [appSetBackground]="slug"></div>
<div class="container site-page">

  <div *ngFor="let movieDetails of (movies$ | async) | slugFilterPipe:slug">
    <div class="row">
      <div class="col-xs-12">
        <a (click)="goBack()">
          <span class="glyphicon glyphicon-menu-left"></span> Back
        </a>
      </div>
      <div class="col-xs-12 text-center movie-title">
        <h1>{{ movieDetails?.name }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-xs-12">
        <div class="image">
          <img src="/assets/images/movie-covers/{{ movieDetails?.img }}" alt="{{ movieDetails?.name }}">
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12">
        <div class="year">
          <strong>Year: </strong>
          <span>{{ movieDetails?.year }}</span>
        </div>
        <div class="rating">
          <strong>Rating: </strong>
          <span>{{ movieDetails?.rate }}</span>
        </div>
        <div class="duration">
          <strong>Duration: </strong>
          <span>{{ movieDetails?.length }}</span>
        </div>
        <div class="genres">
          <strong>Genres: </strong>
          <app-movie-genres [genres]="movieDetails?.genres"></app-movie-genres>
        </div>
        <div class="description">
          <strong>Description: </strong>
          <span>{{ movieDetails?.description }}</span>
        </div>
      </div>
    </div>
  </div>

</div>
