// bootstrap font path fix
$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/" !default;
$white: #FFF;
$lightGrey: #f9f9f9;
$grey7: #777;
$grey5a: #5a5a5a;
$grey33: #333;
$carouselHeight: 600px;
